*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* .dav{
    border: 3px solid blue;
} */

.tarjeta{
    width: 60%;
    max-width: 1000px;
    /* height: 400px;
    overflow: hidden;
    position: relative; */
    margin: auto;
    padding: 60px;
    background: #faebd7;
    margin-top: 100px;
    margin-right: 10px;
    display: left;
    margin-left: 10px;
    float: left;
    
}
.sub-title{
    font-size: 29px;
    font-weight: 300px;
    /* margin-bottom: 5px; */
    padding-top: 10px;
  
}
.img__1{
    height: 20px 20px ;
    
}

.tarjeta .img__1{
    width: 500px;
    float: right;
    padding: 0 200px 10px;
    margin-right: 100px;
    padding-top: 10px;
  
}

.tarjeta p {
    font-size: 18px;
    font-weight: 300px;
    margin-top: 20px;
}

.bbb{
    background: #000;
    color: aliceblue;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


.caa{
    font-size: 18px;
    font-weight: 300px;
    margin-top: 20px;
}



.abajo{
    width: 100%;
    margin-top: 100px;
    float: left;
  
    
}




.img__2{
    height: 200px;
}





.img__3{
  
    height: 200px;
}